<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8"/>
	<title>SISTEMA MISS</title>
	<link rel="stylesheet"   th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
	<div id="background">
		<div id="page">
			<div id="header">
				<div id="navigation">
					<ul>
						<li class="selected">
							<a href="index.html">Inicio</a></li>
						<li>
							<a href="alumnos.html">Alumnos</a>
						</li>
						<li>
							<a href="inventario.html">Inventario</a>
						</li>
						<li>
							<a href="pedido.html">Pedido</a>
						</li>
						
						
					</ul>
				</div>
			</div>
			<div id="contents">
				<div id="info">
					<h1>"SISTEMA MISS"</h1>
					<p>
						Es un método que surgió hace más de 50 años en Japón por un maestro de matemáticas de Prepatoria que quiso ayudar a estudiar a su hijo de segundo de primaria, dejándole diario ejercicios de matemáticas, obteniendo un resultado favorable.
						</p> 
						<p>
KUMON es una franquicia, es decir, todos los centros trabajan de la misma manera, que  tiene presencia mundial llegando a México hace 25 años. El material está en 8 idiomas diferentes y maneja niveles desde el conteo hasta calculo Diferencial e Integral
.</p><p>
El método consiste en que el alumno inicie en un nivel que domine perfectamente sin importar su grado escolar, para saber en qué nivel estará se le realiza un examen. Así el alumno inicia en un nivel que domina y confortable para él, así ira avanzando. 
Cada nivel consta de 200 hojas de trabajo formando 20 sets (10 hojas de trabajo), cada nivel lleva un tiempo para resolverlo llamado tiempo de finalización estándar.
</p><p>
Al término del nivel se les aplica un examen para saber si realmente aprendió, se le inculca al alumno ser autodidacta, esto implica que no hay maestros como tal, el material esta adecuado con ejemplos de cómo resolver los ejercicios, cuando el alumno tiene dudas puede acudir con los asistentes. Una cosa muy importante es que el alumno avanza a su propio ritmo, sin prisas.
</p><p>
Algunos de sus objetivos son:</p>
<ul>
<li>Que el alumno llegue a su grado escolar en donde se encuentra.</li>
<li>Que el alumno avance más de su grado escolar.</li>
<li>Que el alumno termine todos los niveles de Kumon.</li>
</ul>

<p>Los alumnos trabajan todos los días, pero asisten al centro lunes, jueves y sábado con un tiempo de 20 minutos a una hora máximo. Las tareas que se lleven el lunes, en casa deben resolverla entre el martes y miércoles con un tiempo de 20 minutos dedicados de forma adecuada y así sucede lo mismo con su asistencia del jueves y sábado cada día que asisten se llevan tarea
.</p><p> 
Con Kumon los alumnos van a tener muchos beneficios como agilidad en cálculo mental, bases sólidas en matemáticas, hábitos de estudio, responsabilidad , disciplina , desarrollo de la concentración, el más importante es que propicia el aumento de  la autoestima y la seguridad en sí mismo.
 </p>

					
				</div>
				<div id="main">
					<div class="box">
						<div>
							<div>
								<h4>"Kumon Alamos"</h4>
								<ul>
									<li>
										<br></br><h5>Dirección</h5>
										<p> 
											Isabela catolica esquina con Coruña s/n, colonia Alamos, Delegación Benito Juarez,Ciudad de México
										</p><br></br>
									</li>
									<li>
										<br></br><h5>Horarios</h5>
										
										<p>
											Lunes 4:00 pm a 7:00 pm<br></br>
											Jueves 4:00 pm a 7:00 pm<br></br>
											Sabado 10:00 am a 1:00 pm
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
				<div id="sidebar">
					<div class="section">
						<img src="images/sumas1.png" alt="sumas"/>
					</div>
					<div class="section">
						<img src="images/ecuaciones.jpg" alt="ecuaciones"/>
					</div>
					<div class="section">
						<img src="images/quebrados.jpg" alt="quebrados"/>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>